* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

h1, h2, h3, caption, th, .totals td {
    font-weight: bold;
}

h1, th, .totals td {
    color: #439289;
}

h1, h2, caption {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

/* --- Table --- */
table {
    width: 100%;
    border-collapse: collapse;
}

caption {
    padding: 15px 0;
}

th, td {
    padding: 5px 7px;
    text-align: left;
}

tr {
    background-color: #bbbeb5;
}
tr:nth-child(odd) {
    background-color: #e0e4da;
}
tr:first-of-type {
    background-color: transparent;
}

a {
    color: #965a5b;
    text-decoration: none;
    margin-top: 10px;
}
a:hover {
    text-decoration: underline;
}